<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>


<!-- TypeHead-->    
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<!-- <script src="/js/typehead.js"></script> -->

<!--TypeHead END-->
<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<!-- datepicker css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
/>
  
<!-- Perfect Scrollbar -->
<!--<script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>-->

<!-- DatePicker 2 -->
<link href="https://www.sypensions.org.uk/webcomponents/test/calc/jquery-ui.css" rel="stylesheet">
<script src="/js/sypensions.js"></script>

<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/js/now-ui-dashboard.min.js?v=1.3.0" type="text/javascript"></script>
<script src="/js/now-ui-dashboard.js" type="text/javascript"></script>

<script src="/js/select2.js" type="text/javascript"></script>

<link href="/css/select2.css" rel="stylesheet" />
<script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

<script>
    function prin() {
        window.print();
    }
</script>
<script>
    $(function () {
        $('[data-toggle="modal"]').tooltip()
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>

<!-- holiday between search screen -->
<script>
$(function() {
var fromDate = $("#holi_from_date").datepicker({
defaultDate: "+1w",
changeMonth: true,
numberOfMonths: 1,
changeYear:true,
YearRange:'1947:2019',
minDate:'now',
dateFormat:'dd-mm-yy',
 
});

var toDate = $("#holi_to_date").datepicker({
defaultDate: "+1w",
changeMonth: true,
minDate: new Date(),
dateFormat:'dd-mm-yy',
numberOfMonths: 1,
changeYear:true,
YearRange:'1947:2019',
minDate:'now',
onSelect: function (dateStr) {
                holiday_date_search();
            }

});
});
</script>
<!-- end -->
<!-- compensation between search screen -->
<script>
    $(function() {
    var fromDate = $("#comp_from_date").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#comp_to_date").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    onSelect: function (dateStr) {
                compensation_date_search();
            }

    });
    });
    </script>
<!-- end -->

<!-- holiday between add_record -->
<script>
    $(function() {
    var fromDate = $("#holi_from_date_add").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#holi_to_date_add").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
   onSelect: function (dateStr) {
                holiday_date();
            }
    });
    });
    </script>
    <!-- end -->

    <!-- holiday between view_record -->
<script>
    $(function() {
    var fromDate = $("#holi_from_date_vw").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#holi_to_date_vw").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    });
    });
    </script>
    <!-- end -->

 <!-- holiday between edit_record -->
 <script>
    $(function() {
    var fromDate = $("#holi_from_date_ed").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#holi_to_date_ed").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
      onSelect: function (dateStr) {
                holiday_date_ed();
            }
    });
    });
    </script>
    <!-- end -->

    <!-- compensation date add_record -->
    <script>
  $(function() {
    var fromDate = $("#comp_from_date_add").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#comp_to_date_add").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
      onSelect: function (dateStr) {
                compensation_date();
            }
    });
    });

</script>

 <!-- compensation date view_record -->
 <script>
    $(function() {
    var fromDate = $("#comp_from_date_vw").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#comp_to_date_vw").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    });
    });
    
    </script>

    <!-- compensation date edit_record -->
 <script>
    $(function() {
    var fromDate = $("#comp_from_date_ed").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
    dateFormat:'dd-mm-yy',
    });
    
    var toDate = $("#comp_to_date_ed").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    minDate: new Date(),
    dateFormat:'dd-mm-yy',
    numberOfMonths: 1,
    changeYear:true,
    YearRange:'1947:2019',
    minDate:'now',
      onSelect: function (dateStr) {
                compensation_date_ed();
            }
    });
    });
    
    </script>

<script>
    
    $('[data-toggle=dob]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="dob"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
            onSelect: function (dateStr) {
                calculate();
            }
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    $('[data-toggle=doj]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="doj"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
            onSelect: function () {
            }
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    // nominee tab datepicker
    $('[data-toggle=date_ob]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="date_ob"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    // member share add_record datepicker
    $('[data-toggle=shr_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="shr_date"]');
        t.datepicker({
            autoclose: true,
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    $('[data-toggle=do_brd_mtg]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="do_brd_mtg"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    $('[data-toggle=shr_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="shr_date_ed"]');
        t.datepicker({
            autoclose: true,
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    $('[data-toggle=do_brd_mtg_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="do_brd_mtg_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    // datepicker for member shares search
    $(function () {
        // var fromDate = $("#shr_sch_frm_date").datepicker({
        //     defaultDate: "+1w",
        //     changeMonth: true,
        //     numberOfMonths: 1,

        //     dateFormat: 'dd-mm-yy',
        // });

        // var toDate = $("#shr_sch_to_date").datepicker({
        //     defaultDate: "+1w",
        //     changeMonth: true,
        //     minDate: new Date(),
        //     dateFormat: 'dd-mm-yy',
        //     numberOfMonths: 1
        // });

         var fromDate = $("#shr_sch_frm_date").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            numberOfMonths: 1,
            changeYear:true,
            yearRange:"1947:today",

        });

         var toDate = $("#shr_sch_to_date").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear:true,
            yearRange:"1947:2019",

            numberOfMonths: 1,
            onSelect: function (dateStr) {
                member_share_date();
            }

        });

    });

 function member_share_date(){
        var d1 = $('#shr_sch_frm_date').datepicker('getDate');
       // alert(d1)
        var d2 = $('#shr_sch_to_date').datepicker('getDate');
        //alert(d2)
       if(d2<=d1)
       {
           //alert("entering")
        swal("Oops!", "ToDate must be greater than FromDate. Please Select Valid ToDate", "error");
           document.getElementById('shr_sch_to_date').value=null;
       }
}

    // datepicker for kcc  add_record
    $(function () {
        var fromDate = $("#kcc_from_date").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            YearRange: '1947:today',
            numberOfMonths: 1,
            dateFormat: 'dd-mm-yy',


        });
        var toDate = $("#kcc_to_date").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            YearRange: '1947:today',
            dateFormat: 'dd-mm-yy',
            numberOfMonths: 1,
            onSelect: function (dateStr) {
                kccIssuedBetween();
            }
        });
    });
    function kccIssuedBetween() {
        var d1 = $('#kcc_from_date').datepicker('getDate');
        // alert(d1)
        var d2 = $('#kcc_to_date').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            //alert("entering")
            swal("Oops!", "Issued ToDate must be greater than Issued FromDate. Please Select Valid Issued ToDate", "error");
            document.getElementById('kcc_to_date').value = null;
        }
    }
    // kcc page edit_Date field
    $(function () {
        var fromDate = $("#kcc_from_date_ed").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            changeYear: true,
            YearRange: '1947:today',
            dateFormat: 'dd-mm-yy',
        });
        var toDate = $("#kcc_to_date_ed").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            changeYear: true,
            YearRange: '1947:today',
            dateFormat: 'dd-mm-yy',
            numberOfMonths: 1,
            onSelect: function (dateStr) {
                kccIssuedBetween_ed();
            }
        });
    });
    function kccIssuedBetween_ed() {
        var d1 = $('#kcc_from_date_ed').datepicker('getDate');
        //alert(d1)
        var d2 = $('#kcc_to_date_ed').datepicker('getDate');
    //alert(d2)
       if(d2<=d1)
       {
           //alert("entering")
        swal("Oops!", "Issued ToDate must be greater than Issued FromDate. Please Select Valid Issued ToDate", "error");
           document.getElementById('kcc_to_date_ed').value=null;
       }
}
    ///////Calculate diffrence between dob and doj//////
    function calculate() {
        var d1 = $('#dob').datepicker('getDate');
        var d2 = $('#doj').datepicker('getDate');
        var oneDay = 24 * 60 * 60 * 1000;
        var diff = 0;
        if (d1 && d2) {
            diff = Math.round(Math.abs((d2.getTime() - d1.getTime()) / (oneDay)));
        }
        $('#cal').val(diff);
        if (diff >= 6570) {
            var t = $('input[name="dob"]');
            var startDob = $(t).datepicker("getDate");
            var retDate = new Date(startDob.getFullYear() + 60, startDob.getMonth(), startDob
                .getDate());
            var dat = new Date(retDate);
            //alert((dat.getDate() <=9) && (dat.getMonth() >9))
            // alert(dat.getDate())
         //  alert(dat.getMonth())
            if ((dat.getDate() <=8) && (dat.getMonth() <=8) ) {
              //  alert("date cal"+dat.getDate())
                dd = '0' + (dat.getDate())
                mm='0'+(dat.getMonth() + 1)
                retire = ((dd) + '-' + (mm) + '-' + dat.getFullYear());
            }
           else if ((dat.getDate() <=8) && (dat.getMonth() >8) ) {
               // alert("date cal when ly date is less than 9 "+dat.getDate())
                dd = '0' + (dat.getDate())
                mm=(dat.getMonth() + 1)
                retire = ((dd) + '-' + (mm) + '-' + dat.getFullYear());
            }
            else if ((dat.getDate()>8) && (dat.getMonth()>8)) {
               // alert("date cal when both is greater than 9 "+dat.getDate())
                dd = (dat.getDate())
                mm=(dat.getMonth()+1)
                retire = ((dd) + '-' + (mm) + '-' + dat.getFullYear());
            }
            else if ((dat.getMonth() <= 8) && (dat.getDate() >8)) {
               // alert("date cal when ly month is less than 9 ")
                dd =   dat.getDate()
                mm = '0' + (dat.getMonth()+1)
                retire = ((dd) + '-' + (mm) + '-' + dat.getFullYear());
            }

            document.getElementById('dor').disabled = false;
            $("#dor").val(retire);
        }
        else {
            swal("Oops!", "Minimum Age Criteria Not Met. Please Check Your Date Of Birth", "error");
            document.getElementById("dob").value = null;
            document.getElementById('dor').disabled = true;
            document.getElementById('dor').value = null;
        }
    }
    //  member share search page edit_Date field
    $(function () {
        var fromDate = $("#shr_sch_frm_date_ed").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: 'dd-mm-yy',
        });
        var toDate = $("#shr_sch_to_date_ed").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            numberOfMonths: 1
        });
    });

</script>

<!-- return date  -->
<script>
    $('[data-toggle=asso_depo_date_ad]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="asso_depo_date_ad"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<script>
    $('[data-toggle=asso_depo_mstr_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="asso_depo_mstr_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: new Date(),
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>



<!-- opening date  -->

<script>
    $('[data-toggle=deposit_opening_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="deposit_opening_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<script>
    $('[data-toggle=deposit_opening_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="deposit_opening_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>


<script>
    $('[data-toggle=return_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="return_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<script>
    $('[data-toggle=return_date1]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="return_date1"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            // minDate: new Date(),
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<!-- maturirty date -->

<script>
    $('[data-toggle=deposit_maturity_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="deposit_maturity_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
            onSelect: function (dateStr) {
                maturirty_opening_date();
            }
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<script>
    $('[data-toggle=deposit_maturity_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="deposit_maturity_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
            onSelect: function (dateStr) {
                maturirty_opening_date_ed();
            }
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<!-- maturity date in associate bank deposit master -->
<script>
    function maturirty_opening_date() {
        var d1 = $('#deposit_opening_date').datepicker('getDate');
        // alert(d1)
        var d2 = $('#deposit_maturity_date').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            //alert("entering")
            swal("Oops!", "Maturity Date must be greater than Opening date. Please Select Valid Maturity Date", "error");
            document.getElementById('deposit_maturity_date').value = null;
        }
    }
    function maturirty_opening_date_ed() {
        var d1 = $('#deposit_opening_date_ed').datepicker('getDate');
        //alert(d1)
        var d2 = $('#deposit_maturity_date_ed').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            // alert("entering")
            swal("Oops!", "Maturity Date must be greater than Opening date. Please Select Valid Maturity Date", "error");
            document.getElementById('deposit_maturity_date_ed').value = null;
        }
    }

</script>



<!-- Interest paid date  -->
<script>
    $('[data-toggle=deposit_interest_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="deposit_interest_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>

<script>
    $('[data-toggle=deposit_interest_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="deposit_interest_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: new Date(),
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>
<!-- DatePicker End -->
<!-- datepicker for accounts -->
<script>
    // Accounts Page  opening date pickers

    $('[data-toggle=acc_openg_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_openg_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

// Accounts page last transaction date picker

  $('[data-toggle=acc_lst_trnscn_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_lst_trnscn_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

    // accounts nominee date of birth
    $('[data-toggle=acc_nom_dob]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_nom_dob"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

    // Accounts Guardian DOB Datepicker
    $('[data-toggle=acc_gurdian_dob]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_gurdian_dob"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    //  accounts Autorization Datepicker
    $('[data-toggle=acc_approval_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_approval_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    // EDIT Account Date Pickers
    $('[data-toggle=acc_openg_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_openg_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    $('[data-toggle=acc_lst_trnscn_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_lst_trnscn_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

    $('[data-toggle=acc_nom_dob_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_nom_dob_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    

    $('[data-toggle=acc_gurdian_dob_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_gurdian_dob_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    
    $('[data-toggle=acc_approval_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_approval_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: 'today',
            changeMonth: true,
            changeYear: true,
            yearRange: "1947:2019",
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
</script>

<script>
    // date picker for Kcc_Credit_Limit add record
       $('[data-toggle=kcc_crd_dt]').each(function () {
           var target = $(this).data('target-name');
           var t = $('input[name="kcc_crd_dt"]');
           t.datepicker({
               dateFormat: 'dd-mm-yy',
               changeMonth: true,
               changeYear: true,
               YearRange: '1947:2019',
               minDate: 'now',
           });
           $(this).on("click", function () {
               t.datepicker("show");
           });
       });
       </script>
<!-- DatePicker End -->
<script>
    $(function () {
        var fromDate = $("#acc_renw_date_btw").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            changeYear: true,
            YearRange: '1947:2019',
            minDate: 'now',
            dateFormat: 'dd-mm-yy',
        });
        var toDate = $("#acc_renw_date_and").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            numberOfMonths: 1,
            changeYear: true,
            YearRange: '1947:2019',
            minDate: 'now',
        });
    });
    // date picker for renewal date add record
    $('[data-toggle=acc_renw_renw_date]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_renw_renw_date"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            YearRange: '1947:2019',
            minDate: 'now',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });
    // date picker for renewal date add record edit
    $('[data-toggle=acc_renw_renw_date_ed]').each(function () {
        var target = $(this).data('target-name');
        var t = $('input[name="acc_renw_renw_date_ed"]');
        t.datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            YearRange: '1947:2019',
            minDate: 'now',
        });
        $(this).on("click", function () {
            t.datepicker("show");
        });
    });

</script>
<!-- datepicker end -->
<script>
    // enable disable loan fields
    $('#e_month').on('change', function () {
        if ($(this).val() == 'yes') {
            $('#loan_amt').attr("disabled", false);
            $('#amt_used').attr("disabled", false);
        } else {
            $('#loan_amt').attr("disabled", true);
            $('#amt_used').attr("disabled", true);
        }
    });

</script>

<!-- date validation function in holiday list add and edit screen-->

<script>
    //holiday date validation function//
    function holiday_date() {
        var d1 = $('#holi_from_date_add').datepicker('getDate');
        // alert(d1)
        var d2 = $('#holi_to_date_add').datepicker('getDate');
        //alert(d2)

        /* To accept the same date in calendar removed the below code,changes made by swarna */

        // if (d2 <= d1) {
        //     //alert("entering")
        //     swal("Oops!", "Holiday ToDate must be greater than Holiday FromDate. Please Select Valid Holiday ToDate", "error");
        //     document.getElementById('holi_to_date_add').value = null;
        // }
    }
//compensation date validation function//
 function compensation_date() {
        var d1 = $('#comp_from_date_add').datepicker('getDate');
        // alert(d1)
        var d2 = $('#comp_to_date_add').datepicker('getDate');
        //alert(d2)

         /* To accept the same date in calendar removed the below code,changes made by swarna */

        // if (d2 <= d1) {
        //     //alert("entering")
        //     swal("Oops!", "Compensation ToDate must be greater than Compensation FromDate. Please Select Valid Compensation ToDate", "error");
        //     document.getElementById('comp_to_date_add').value = null;
        // }
    }
    
    function holiday_date_ed() {
        var d1 = $('#holi_from_date_ed').datepicker('getDate');
        //alert(d1)
        var d2 = $('#holi_to_date_ed').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            // alert("entering")
            swal("Oops!", "Holiday ToDate must be greater than Holiday FromDate. Please Select Valid Holiday ToDate", "error");
            document.getElementById('holi_to_date_ed').value = null;
        }
    }
     function compensation_date_ed() {
        var d1 = $('#comp_from_date_ed').datepicker('getDate');
        // alert(d1)
        var d2 = $('#comp_to_date_ed').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            //alert("entering")
            swal("Oops!", "Compensation ToDate must be greater than Compensation FromDate. Please Select Valid Compensation ToDate", "error");
            document.getElementById('comp_to_date_ed').value = null;
        }
    }


/*date validation in holiday list search*/
function holiday_date_search() {
        var d1 = $('#holi_from_date').datepicker('getDate');
        // alert(d1)
        var d2 = $('#holi_to_date').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            //alert("entering")
            swal("Oops!", "Holiday ToDate must be greater than Holiday FromDate. Please Select Valid Holiday ToDate", "error");
            document.getElementById('holi_to_date').value = null;
        }
    }
//compensation date validation function//
 function compensation_date_search() {
        var d1 = $('#comp_from_date').datepicker('getDate');
        // alert(d1)
        var d2 = $('#comp_to_date').datepicker('getDate');
        //alert(d2)
        if (d2 <= d1) {
            //alert("entering")
            swal("Oops!", "Compensation ToDate must be greater than Compensation FromDate. Please Select Valid Compensation ToDate", "error");
            document.getElementById('comp_to_date').value = null;
        }
    }
    
  
</script>



<!-- Navigate between tabs -->
<script type="text/javascript">
    // // Forward Navigation
    // $('#cont_pers_det').click(function () {
    //     $('#tabs a[href=#personal_details]').tab('show').addClass("active");
    //     $('#tabs a[href=#member_details]').removeClass("active");
    // });
    // $('#cont_pres_add').click(function () {
    //     alert("gsdruy")
    //     $('#tabs a[href=#present_address]').tab('show').addClass("active");
    //     $('#tabs a[href=#personal_details]').removeClass("active");
    // });
    // $('#cont_perm_add').click(function () {
    //     $('#tabs a[href=#permanent_address]').tab('show').addClass("active");
    //     $('#tabs a[href=#present_address]').removeClass("active");
    // });
    // $('#cont_loan').click(function () {
    //     $('#tabs a[href=#loans]').tab('show').addClass("active");
    //     $('#tabs a[href=#permanent_address]').removeClass("active");
    // });
    // $('#cont_nominee').click(function () {
    //     $('#tabs a[href=#nominee]').tab('show').addClass("active");
    //     $('#tabs a[href=#loans]').removeClass("active");
    // });
    // Back Navigation
    $('#bck_mem_det').click(function () {
        $('#tabs a[href=#member_details]').tab('show').addClass("active");
        $('#tabs a[href=#personal_details]').removeClass("active");
    });
    $('#bck_pers_det').click(function () {
        $('#tabs a[href=#personal_details]').tab('show').addClass("active");
        $('#tabs a[href=#present_address]').removeClass("active");
    });
    $('#bck_pres_add').click(function () {
        $('#tabs a[href=#present_address]').tab('show').addClass("active");
        $('#tabs a[href=#permanent_address]').removeClass("active");
    });
    $('#bck_perm_add').click(function () {
        $('#tabs a[href=#permanent_address]').tab('show').addClass("active");
        $('#tabs a[href=#loans]').removeClass("active");
    });
    $('#bck_loan').click(function () {
        $('#tabs a[href=#loans]').tab('show').addClass("active");
        $('#tabs a[href=#nominee]').removeClass("active");
    });

</script>

<script>
    // show options
    $('#sub_menu a')
        .css({
            cursor: "pointer"
        })
        .on('click', function () {
            $(this).next('ul').toggle();
        })

</script>
<script>
    $(document).on('click', '.navbar-toggle', function () {
        $toggle = $(this);
        if (nowuiDashboard.misc.navbar_menu_visible == 1) {
            $('html').removeClass('nav-open');
            nowuiDashboard.misc.navbar_menu_visible = 0;
            setTimeout(function () {
                $toggle.removeClass('toggled');
                $('#bodyClick').remove();
            }, 550);
        } else {
            setTimeout(function () {
                $toggle.addClass('toggled');
            }, 580);
            div = '<div id="bodyClick"></div>';
            $(div).appendTo('body').click(function () {
                $('html').removeClass('nav-open');
                nowuiDashboard.misc.navbar_menu_visible = 0;
                setTimeout(function () {
                    $toggle.removeClass('toggled');
                    $('#bodyClick').remove();
                }, 550);
            });
            $('html').addClass('nav-open');
            nowuiDashboard.misc.navbar_menu_visible = 1;
        }
    });

</script>
<style type="text/css">
    .bs-example {
        font-family: sans-serif;
        position: relative;
    }

    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 100%;
    }
</style>

<!-- CSS FOR TYPEHEAD -->

<style type="text/css">
    .bs-example {
        font-family: sans-serif;
        position: relative;
    }

    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 200px;
    }

    .tt-suggestion {
        font-size: 15px;
        /* Set suggestion dropdown font size */
        padding: 3px 20px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #0097CF;
        color: #FFFFFF;
    }

    .tt-suggestion p {
        margin: 0;
    }
</style>


<!-- Account Back Navigation Tab -->
<script>
    $('#bck_acc_det').click(function () {
        $('#tabs a[href=#account_details]').tab('show').addClass("active");
        $('#tabs a[href=#accounts_nominee]').removeClass("active");
    });
    $('#bck_loan').click(function () {
        $('#tabs a[href=#accounts_nominee]').tab('show').addClass("active");
        $('#tabs a[href=#guardian_details]').removeClass("active");
    });
    $('#bck_acc_authorize').click(function () {
        $('#tabs a[href=#joint_holder_details]').tab('show').addClass("active");
        $('#tabs a[href=#authorization]').removeClass("active");
    });

</script>

<!-- Account Back Navigation Tab EDIT -->
<script>
    $('#bck_acc_det_ed').click(function () {
        $('#tabs a[href=#account_details]').tab('show').addClass("active");
        $('#tabs a[href=#accounts_nominee]').removeClass("active");
    });

    $('#bck_loan_ed').click(function () {
        $('#tabs a[href=#accounts_nominee]').tab('show').addClass("active");
        $('#tabs a[href=#guardian_details]').removeClass("active");
    });


    $('#bck_acc_authorize_ed').click(function () {
        $('#tabs a[href=#joint_holder_details]').tab('show').addClass("active");
        $('#tabs a[href=#authorization]').removeClass("active");
    });
</script>


<!-- Account Back Navigation Tab VIEW -->
<script>
            $('#bck_acc_det_vw').click(function () {
                $('#tabs a[href=#account_details]').tab('show').addClass("active");
                $('#tabs a[href=#accounts_nominee]').removeClass("active");
            });

            $('#bck_loan_vw').click(function () {
                $('#tabs a[href=#accounts_nominee]').tab('show').addClass("active");
                $('#tabs a[href=#guardian_details]').removeClass("active");
            });


            $('#bck_acc_authorize_vw').click(function () {
                $('#tabs a[href=#joint_holder_details]').tab('show').addClass("active");
                $('#tabs a[href=#authorization]').removeClass("active");
            });
</script>

    <!-- Navigate between tabs in Society Bank in ADD-->
    <script type="text/javascript">
    $('#soc_bnk').click(function () {
       // alert("add");
        $('#tabs a[href=#soc_bank_details]').tab('show').addClass("active");
        $('#tabs a[href=#soc_bank_address_details]').removeClass("active");
    });
    </script>
    
    <!-- Navigate between tabs in Society Bank in EDIT-->
    <script type="text/javascript">
        $('#soc_bnk_edit').click(function () {
           // alert("edit");
            $('#tabs a[href=#soc_bank_details_ed]').tab('show').addClass("active");
            $('#tabs a[href=#soc_bank_address_details_ed]').removeClass("active");
        });
        </script>
        <!-- Navigate between tabs in Society Bank in VIEW-->
    <script type="text/javascript">
    $('#soc_bnk_vw').click(function () {
        // alert("view");
    $('#tabs a[href=#soc_bank_details_vw]').tab('show').addClass("active");
    $('#tabs a[href=#soc_branch_add_details_vw]').removeClass("active");
    });
    </script>

        
<!-- last premium paid date-->

<script>
	// var d = new Date(90,1,1);
	$(function() {
		$( "#insur_lst_prm_paid" ).datepicker({
	                // defaultDate:d, //set the default date to Jan 1st 1990
			changeMonth: true,
			changeYear: true,
	                yearRange: '1930:today', //set the range of years
	                dateFormat: 'dd-mm-yy' //set the format of the date
		});
        $(this).on("click", function() {
            t.datepicker("show");
        });
	});
</script>

    


    

    
        
<!-- last premium paid date edit -->
<script>
// var d = new Date(90,0,1);
	$(function() {
		$( "#insur_lst_prm_paid_ed" ).datepicker({
	                // defaultDate:d, //set the default date to Jan 1st 1990
			changeMonth: true,
			changeYear: true,
	                yearRange: '1950:today', //set the range of years
	                dateFormat: 'dd-mm-yy' //set the format of the date
		});
        $(this).on("click", function() {
            t.datepicker("show");
        });
	});
    </script>


            
<!-- policy date-->
<script>
//   var d = new Date(90,0,1);
	$(function() {
        $( "#insur_policy_date" ).datepicker({
       
           dateFormat: 'dd-mm-yy',
        
        //    defaultDate:d,
           changeYear: true,
                changeMonth: true,
                yearRange: "1950:today"
        });
        $(this).on("click", function() {
            t.datepicker("show");
        });
    });
    </script>

    <!-- policy date edit-->
    <script>
            //   var d = new Date(90,0,1);
                $(function() {
                    $( "#insur_policy_date_ed" ).datepicker({
                   
                       dateFormat: 'dd-mm-yy',
                    
                    //    defaultDate:d,
                       changeYear: true,
                            changeMonth: true,
                            yearRange: "1950:today"
                    });
                    $(this).on("click", function() {
                        t.datepicker("show");
                    });
                });
                </script>

              
<!-- premium due date search screen-->


<script>
    //   var d = new Date(90,0,1);
        $(function() {
         var d7 =   $( "#premium_date" ).datepicker({
           
               dateFormat: 'dd-mm-yy',
            
            //    defaultDate:d,
               changeYear: true,
                    changeMonth: true,
                 yearRange: "1950:today"
            }); 
            $(this).on("click", function() {
                t.datepicker("show");
            });
        });
 
    //   var d = new Date(90,0,1);
        $(function() {
      $( "#premium_date1" ).datepicker({
           
               dateFormat: 'dd-mm-yy',
            
         //  defaultDate:d7,
                     changeYear: true,
                    changeMonth: true,
                    yearRange: "d7:today"
            });
            $(this).on("click", function() {
                t.datepicker("show");
            });
        });
        </script>



<!-- premium date-->

<script>
        //   var d = new Date(90,0,1);
            $(function() {
                $( "#insur_premium_date" ).datepicker({
               
                   dateFormat: 'dd-mm-yy',
                
                //    defaultDate:d,
                   changeYear: true,
                        changeMonth: true,
                        yearRange: "1950:today"
                });
                $(this).on("click", function() {
                    t.datepicker("show");
                });
            });
            </script>


<!-- premium date edit -->
<script>
        //   var d = new Date(90,0,1);
            $(function() {
                $( "#insur_premium_date_ed" ).datepicker({
               
                   dateFormat: 'dd-mm-yy',
                
                //    defaultDate:d,
                   changeYear: true,
                        changeMonth: true,
                        yearRange: "1950:today"
                });
                $(this).on("click", function() {
                    t.datepicker("show");
                });
            });
            </script>
   


    <!-- premium due date -->
<!-- <script>
$(document).ready(function() {
    
    $('#soc_save').click(function(){ 
        var latVal = /^-?([0-8]?[0-9]|90)\.[0-9]{1,6},-?((1?[0-7]?|[0-9]?)[0-9]|180)\.[0-9]{1,6}$/;
        var soc_bnk_address_latitude = $("input#soc_bnk_address_latitude").val();
        var invalid_lat = 'Latitude is not correctly typed';
        
        // Validate Latitude
        if(!latVal.test(soc_bnk_address_latitude)) {
                $("#soc_bank_address_details").html(invalid_lat);
                return false;;
        }else{
                $("#soc_bank_address_details").html('This coordinates are valid!');
        }   
    });
});
</script>-->
    <script>
    //   var d = new Date(90,0,1);
        $(function() {
            $( "#insur_premium_due_date" ).datepicker({
           
               dateFormat: 'dd-mm-yy',
            
            //    defaultDate:d,
               changeYear: true,
                    changeMonth: true,
                    yearRange: "1950:today"
            });
            $(this).on("click", function() {
                t.datepicker("show");
            });
        });
        </script>

    <!-- premium due date edit-->
    <script>
            //   var d = new Date(90,0,1);
                $(function() {
                    $( "#insur_premium_due_date_ed" ).datepicker({
                   
                       dateFormat: 'dd-mm-yy',
                    
                    //    defaultDate:d,
                       changeYear: true,
                            changeMonth: true,
                            yearRange: "1950:today"
                    });
                    $(this).on("click", function() {
                        t.datepicker("show");
                    });
                });
                </script>

  <!-- policy due date -->

                 <script>
            $(function() {
                $( "#insur_policy_due_date" ).datepicker({
                   dateFormat: 'dd-mm-yy',
                   changeYear: true,
                        changeMonth: true,
                        yearRange: "1950:today"
                });
                $(this).on("click", function() {
                    t.datepicker("show");
                });
            });
            </script>

<!-- policy due date edit -->
<script>
        $(function() {
            $( "#insur_policy_due_date_ed" ).datepicker({
               dateFormat: 'dd-mm-yy',
               changeYear: true,
                    changeMonth: true,
                    yearRange: "1950:today"
            });
            $(this).on("click", function() {
                t.datepicker("show");
            });
        });
        </script>

<!-- insurance nominee date of birth-->
<script>
        //   var d = new Date(90,0,1);
            $(function() {
                $( "#insur_nom_dob" ).datepicker({
               
                   dateFormat: 'dd-mm-yy',
                
                //    defaultDate:d,
                   changeYear: true,
                        changeMonth: true,
                        yearRange: "1950:today"
                });
                $(this).on("click", function() {
                    t.datepicker("show");
                });
            });
            </script>

    <!-- insurance nominee date of birth edit -->
    <script>
            //   var d = new Date(90,0,1);
                $(function() {
                    $( "#insur_nom_dob_ed" ).datepicker({
                   
                       dateFormat: 'dd-mm-yy',
                    
                    //    defaultDate:d,
                       changeYear: true,
                            changeMonth: true,
                            yearRange: "1950:today"
                    });
                    $(this).on("click", function() {
                        t.datepicker("show");
                    });
                });
                </script>

                     
<!-- insurance guardian date of birth-->
<script>
        //   var d = new Date(90,0,1);
            $(function() {
                $( "#insur_gurdian_dob" ).datepicker({
               
                   dateFormat: 'dd-mm-yy',
                
                //    defaultDate:d,
                   changeYear: true,
                        changeMonth: true,
                        yearRange: "1950:today"
                });
                $(this).on("click", function() {
                    t.datepicker("show");
                });
            });
            </script>

    <!-- insurance guardian date of birth edit-->
    <script>
            //   var d = new Date(90,0,1);
                $(function() {
                    $( "#insur_gurdian_dob_ed" ).datepicker({
                   
                       dateFormat: 'dd-mm-yy',
                    
                    //    defaultDate:d,
                       changeYear: true,
                            changeMonth: true,
                            yearRange: "1950:today"
			    

                    });
                    $(this).on("click", function() {
                        t.datepicker("show");
                    });
                });
                </script>
                <!-- society Branch START-->
<script>
    $('#soc_branch').click(function () {
       $('#tabs a[href=#soc_branch_details]').tab('show').addClass("active");
       $('#tabs a[href=#soc_branch_address_details]').removeClass("active");
   });
   </script>
   <script>
           $('#soc_branch_ed').click(function () {
              $('#tabs a[href=#soc_branch_details_ed]').tab('show').addClass("active");
              $('#tabs a[href=#soc_branch_address_details_ed]').removeClass("active");
          });
          </script>

 <script>
   $('#con_soc_branch_vw').click(function () {
       $('#tabs a[href=#soc_branch_address_details_vw]').tab('show').addClass("active");
       $('#tabs a[href=#soc_branch_details_vw]').removeClass("active");
   });
   </script>     
      
<script>
$('#soc_branch_vw').click(function () {
   $('#tabs a[href=#soc_branch_details_vw]').tab('show').addClass("active");
   $('#tabs a[href=#soc_branch_address_details_vw]').removeClass("active");
});
</script>
<!-- society Branch END-->

<!------------insurance screen back buttons -->
<script>
        $('#insur_nom_bck').click(function () {
            $('#tabs a[href=#insurance_details]').tab('show').addClass("active");
            $('#tabs a[href=#insur_nominee_details]').removeClass("active");
        });

        $('#bck_insur_guad').click(function () {
            $('#tabs a[href=#insur_nominee_details]').tab('show').addClass("active");
            $('#tabs a[href=#bck_insur_guad]').removeClass("active");
        });

        $('#insur_nom_bck_ed').click(function () {
            $('#tabs a[href=#insurance_details_ed]').tab('show').addClass("active");
            $('#tabs a[href=#insur_nominee_details_ed]').removeClass("active");
        });

        $('#bck_insur_guad_ed').click(function () {
            $('#tabs a[href=#insur_nominee_details_ed]').tab('show').addClass("active");
            $('#tabs a[href=#insur_guardian_details_ed]').removeClass("active");
        });

        $('#insur_nom_bck_vw').click(function () {
            $('#tabs a[href=#insurance_details_vw]').tab('show').addClass("active");
            $('#tabs a[href=#insur_nominee_details_vw]').removeClass("active");
        });

        $('#bck_insur_guad_vw').click(function () {
            $('#tabs a[href=#insur_nominee_details_vw]').tab('show').addClass("active");
            $('#tabs a[href=#insur_guardian_details_vw]').removeClass("active");
        });


</script>


  <script type="text/javascript">
    
    
 </script>